@use "../../Styles/Partials/mixins" as *;
@use "../../Styles/Partials/typography" as *;
@use "../../Styles/Partials/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Titillium Web", Tahoma, sans-serif;
}

.categories {
  background-color: rgb(244, 239, 234);
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  width: 100%;
  text-decoration: none;

  &__box {
    margin-top: 2rem;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
  }
  &__title {
    margin: 0;
    width: 19rem;
    margin-bottom: 0.9rem;
  }
  &__category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // flex-wrap: wrap;
    width: 19rem;
  }
}
