@use "../../Styles/Partials/mixins" as *;
@use "../../Styles/Partials/typography" as *;
@use "../../Styles/Partials/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Titillium Web", Tahoma, sans-serif;
}

.categories {
  @include PageColor;
  &__title {
    @include Title;
  }
  &__category {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__container {
    @include container;
  }
  &__logoContainer {
    @include logoContainer;
  }
}
