@mixin tablet {
  @media screen and (min-width: 767px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin greenSquare {
  display: flex;
  cursor: pointer;
  width: 16rem;
  height: 4rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border: 1.8px solid #ca8935;
  transition: all 0.2s ease;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  color: #333333;
  background-color: #699e89;
}

@mixin redSquare {
  display: flex;
  cursor: pointer;
  width: 16rem;
  height: 4rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border: 1.8px solid #ca8935;
  transition: all 0.2s ease;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  color: #333333;
  background-color: #d83d0d;
}

//small circles for the fun facts buttons
@mixin funFactsCircle {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #ca89358c;
  border-radius: 10rem;
  border: 1.8px solid #ca8935;
  margin: 0.5rem;
  transition: all 0.2s ease;
  &:hover {
    background-color: #ca8935;
  }
  &:focus {
    background-color: #ca8935;
  }
}

// Alphabet Page Youtube
@mixin youtubeButton {
  width: 16rem;
  margin: 0;
  color: #333333;
  background-color: #699e89;
  border-radius: 0.5rem;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  &:hover {
    background-color: #ca8935;
    color: white;
  }
}
// ...............................................
//HOME MIXINS

//Home Facts Button
@mixin factsButton {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 19rem;
  height: 20rem;

  background-color: #699e89;
  border: 2px solid #ca8935;
  border-radius: 2rem;

  font-weight: 300;
  font-style: normal;
  font-size: 3rem;
}

//Home Page Begin Button
@mixin beginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19rem;
  height: 4rem;
  margin: 0;
  color: #333333;
  background-color: #699e89;
  border: 2px solid #ca8935;
  border-radius: 0.5rem;

  font-weight: 300;
  font-style: normal;
  font-size: 3rem;
  &:hover {
    background-color: #ca8935;
    color: white;
  }
}
// ...............................................
//CATEGORIES MIXINS

// ...............................................
//TOTAL SCORE PAGE MIXINS

// Score
@mixin ScoreDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19rem;
  height: 4rem;
  margin: 0;
  color: #333333;
  background-color: #ca8935;
  border-radius: 0.5rem;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  margin-top: 1rem;
}

//Page Mixin
