@use "../../Styles/Partials/mixins" as *;
@use "../../Styles/Partials/typography" as *;
@use "../../Styles/Partials/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Titillium Web", Geneva, Tahoma, sans-serif;
}
.numpictures {
  &__npicture {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-content: center;

    cursor: pointer;
    width: 12rem;
    height: 12rem;
    margin: 1rem;
    border-radius: 100%;
    border: 1.9px solid #ca8935;
    transition: all 0.2s ease;

    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;

    color: #333333;

    // background-image: url(../../Assests/icons/numbers2.jpg);
    // background-repeat: no-repeat;
    // background-size: 6.5rem;
    background-position-x: center;
    // background-color: white;
    // background: transparent;
  }
  &__nuer {
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
