@use "../../Styles/Partials/mixins" as *;
@use "../../Styles/Partials/typography" as *;
@use "../../Styles/Partials/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Titillium Web", Tahoma, sans-serif;
}
.alphabets {
  background-color: rgb(244, 239, 234);
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  width: 100%;

  &__box {
    margin-top: 1.5rem;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
  }

  &__speaker {
    margin: 0.5rem;
    width: 1.5rem;
  }
  &__title {
    margin: 0;
    width: 19rem;
    margin-bottom: 0.9rem;
  }
  &__alpT {
    margin: 0;
    width: 19rem;
    margin-bottom: 0.9rem;
    margin-top: 1.5rem;

    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
  }

  &__letters {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 19rem;
  }

  &__phonetic {
    margin: 0;
    padding: 0.5rem 0 0.5rem 0;
  }
  &__link {
    text-decoration: none;
  }
  &__simpleText {
    @include youtubeButton;
  }
}
