@use "../../Styles/Partials/mixins" as *;
@use "../../Styles/Partials/typography" as *;
@use "../../Styles/Partials/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Titillium Web", Tahoma, sans-serif;
}
.alphabets {
  @include PageColor;

  &__title {
    @include Title;
  }
  &__letters {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 17rem;
  }
  &__phonetic {
    margin: 0;
    padding: 0.5rem 0 0.5rem 0;
    color: #333333;
    font-weight: 100;
    font-style: normal;
    font-size: 0.9rem;
  }
  &__youtube {
    margin: 0;
  }
  &__link {
    text-decoration: none;
  }
  &__simpleText {
    @include beginButton;

    font-size: 1.5rem;
  }
}
